:host{
  ::ng-deep{
    mat-form-field{
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        width: 300px;
        background: none;
        border-bottom: 2px solid #babdba;
      }
    }
  }
}
.container{
  display: flex;
  justify-content: space-around;

  .back{
    background-image: url("../../../../assets/depositphotos_515228796-stock-illustration-online-registration-sign-login-account.jpg");
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 400px;
  }

  .form{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background-color: #141a63;

    .welcome{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      h1{
        color: white;
        letter-spacing: 2.5px;
      }

      span{
        color: #12ff74;
        font-size: 18px;
      }
    }
   mat-label{
     color: white;
   }
    input{
      color: white;
    }

    .footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 9px;

      .btn{
        color: white;
        background-color: #00dc5b;
        width: 300px;
        height: 30px;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      span{
        color: white;
      }
      a{
        color: red;
        cursor: pointer;
      }
    }
  }
}
p {
  width: 320px;
}

:host{
  ::ng-deep{
    p{
      .mdc-label {
        color: white;
      }
    }
  }
}
