<div class="container">
  <div class="content" *ngFor="let item of hotels | async; let i = index">
    <img
      (click)="openDetailsPage(item.id)" [src]="getImageUrl(item)" />
    <i class="bi heart bi-heart-fill"></i>
    <i class="bi arrow bi-arrow-right-circle-fill" (click)="nextImage(item)"></i>
<!--    <i  class="bi left bi-arrow-left-circle-fill"></i>-->
    <div class="dots">
      <div
        class="dot"
        *ngFor="let dot of [0, 1, 2, 3, 4]; let j = index"
        [ngClass]="{ active: j === item.currentImageIndex }"
        (click)="changeImage(item, j)"
      ></div>
    </div>
    <div class="text">
      <span class="area">{{ item.title }}</span>
      <span class="title">{{ item.area }}</span>
      <span class="price">{{ item.price }}$ Night</span>
    </div>
  </div>
</div>


